$black: #000;
$dark-grey: #333;
$dark-blue-grey: #4C4D4F;
$light-blue: #32D0F0;
$grey: #666;
$bluegrey: #737476;
$grey-80: #808080;
$grey-9: #999;
$grey-c: #CCC;
$grey-e2: #E2E2E2;
$grey-f2: #F2F2F2;
$grey-f9: #F9F9F9;
$dark-red: #D5E03C;
$yellow: #D6E03D;
$yellow2: #D6E125;
$yellow3: #D6E13D;
$brick-red: #D7E128;
$pink: #EE2B74;
$hot-pink: #FF0080;
$dark-orange: #F05133;
$light-orange: #FDBB30;
$white: #FFF;
$red: #F00;
$dark-grey-trans: rgba(0, 0, 0, 0.2);
$twitter-blue: #0EC3FF;
$foursquare-blue: #3091d6;
$rc-red: #D2232A;
$rc-green: #5da423;
$trans: rgba(0,0,0,0.7);
$trans8: rgba(0,0,0,0.8);
$message-gradient: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1)));